

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
    <ion-title>Disclaimer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item color="light" lines="none">
          <ion-label class="ion-text-wrap message" style="font-size:10pt;font-style:italic;">
         &nbsp; This app's data is collected and aggregated from various open source APIs. The ranks are fetched from zacks api.
       </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Do your Own Research
    </ion-list-header>
    <ion-item color="light" lines="none">
          <ion-label class="ion-text-wrap message" style="font-size:10pt;font-style:italic;">
         &nbsp;Our content is intended to be used and must be used for informational purposes only. It is very important to do your own analysis before making any investment based on your own personal circumstances. You should take independent financial advice from a professional in connection with, or independently research and verify, any information that you find on our app and wish to rely upon, whether for the purpose of making an investment decision or otherwise.
          </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      No Investment Advice
    </ion-list-header>
    <ion-item color="light" lines="none">
          <ion-label class="ion-text-wrap message" style="font-size:10pt;font-style:italic;">
         &nbsp;Our app is a financial data portal that are aggregated from various open APIs. This app is not a broker/dealer, we are not an investment advisor, we have no access to non-public information about publicly traded companies, and this is not a place for the giving or receiving of financial advice, advice concerning investment decisions or tax or legal advice. We are not regulated by the Financial Services Authority.
         We are an educational forum for analysing, learning & discussing general and generic information related to stocks, investments and strategies. No content on the site constitutes - or should be understood as constituting - a recommendation to enter in any securities transactions or to engage in any of the investment strategies presented in our site content. We do not provide personalised recommendations or views as to whether a stock or investment approach is suited to the financial needs of a specific individual.

          </ion-label>
    </ion-item>
  </ion-list>

    <ion-list>
      <ion-list-header>
        No reliance
      </ion-list-header>
      <ion-item color="light" lines="none">
            <ion-label class="ion-text-wrap message" style="font-size:10pt;font-style:italic;">
           &nbsp;Accordingly, we will not be liable, whether in contract, tort (including negligence) or otherwise, in respect of any damage, expense or other loss you may suffer arising out of such information or any reliance you may place upon such information.
         </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Investment Warnings
      </ion-list-header>
      <ion-item color="light" lines="none">
            <ion-label class="ion-text-wrap message" style="font-size:10pt;font-style:italic;">
           &nbsp;We would like to draw your attention to the following important investment warnings.
           The value of shares and investments and the income derived from them can go down as well as up;
           Investors may not get back the amount they invested - losing one's shirt is a real risk;
           Past performance is not a guide to future performance.

         </ion-label>
      </ion-item>
    </ion-list>


</ion-content>
